################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/NL.Framework.DAL/obj
/NL.Framework.DAL/bin
/NL.Framework.IBLL/obj
/NL.Framework.IDAL/obj
/NL.Framework.Model/bin
/NL.Framework.Web/Logs
/NL.Framework.Model/obj
/NL.Framework.Web/bin
/NL.Framework.Web/obj
/NL.Framework.Web.Tests/obj
/NL.Framework.Core/obj
/NL.Framework.Common/obj
/NL.Framework.BLL/obj
/.vs
/\NL.Framework.Web/Configs/database.config