@using NL.Framework.Model.System
@using NL.Framework.Web.Controllers
@model PageModels
@{
    ViewBag.Title = "下拉设置";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/bundles/dtree")
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        </div>
        <div class="layui-card-body">
            <div class="layui-row layui-col-space10">
                <div class="layui-col-md6">
                    <div class="layui-card" overflow-y:auto;">
                        @*<div class="layui-form layui-card-header layuiadmin-card-header-auto">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">名称</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="MyName" placeholder="请输入" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-drop-down-search">
                                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                    </button>
                                </div>
                            </div>
                        </div>*@
                        <div class="layui-card-body">
                            <div style="padding-bottom: 35px;">
                                @Html.Partial("~/Views/Shared/_ButtonsOperation.cshtml", Model)
                            </div>
                            <table id="LAY-dropdown-manage" lay-filter="LAY-dropdown-manage"></table>
                            <script type="text/html" id="table-system-dropdown">
                                @Html.Partial("~/Views/Shared/_ButtonsOperation.cshtml", Model)
                            </script>
                        </div>
                    </div>
                </div>
                <!--菜单功能树-->
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                            <h2>选中对应节点单击鼠标右键可对其进行操作</h2>
                        </div>
                        <div class="layui-card-body">
                            @*<div style="padding-bottom: 10px;">
                                    <h2>请勾选权限</h2>
                                </div>*@
                            <div style="height:calc(100vh - 260px); overflow-y:auto;" id="toolBarDiv">
                                <ul id="rightTree" class="dtree" data-id="0"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="@Url.Content("~/Scripts/Modules/DropdownScript.js")"></script>