<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="DbConn" connectionString="user id=sa;password=Zzc1030@123456;data source=NICHOLASLEO;initial catalog=NLFrame;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>